.about-container {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 14%;
}

.about-me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary, transparent));
    display: grid;
    place-items: centre;
}

.about-me-img {
    overflow: hidden;
    border-radius: 2rem;
    transform: rotate(10deg);
    transition: .4s;
}

.about-me-img:hover {
    transform: rotate(0deg);
}


.about_cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    width: 100%;
}

.about-card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
    cursor: pointer;
}

.about-card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.about-icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about-card h5 {
    font-size: 1rem;
}

.about-card small {
    font-size: .7rem;
    color: var(--color-light);
}

.about-content p{
    margin: 3rem 0 2.5rem;
    color: var(--color-white);
}

/* RESPONSIVE CSS */

@media screen and (max-width: 600px) {
    .about-me {
        width: 65%;
    }

    .about-cards {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1rem; 
    }

    .about-card {
        border-radius: 1rem; 
        padding: 1rem; 
        text-align: center;
        transition: var(--transition);
        cursor: pointer;
        margin-bottom: 1rem; 
    }

    .about-card:hover {
        background: transparent;
        border-color: var(--color-primary-variant);
    }

    .about-icon {
        font-size: 1.2rem; 
        margin-bottom: 0.5rem;
    }

    .about-card h5 {
        font-size: 0.9rem; 
    }

    .about-card small {
        font-size: 0.7rem;
        color: var(--color-light);
    }

    .about-content p {
        margin: 2rem 0; 
        color: var(--color-white);
    }
}


@media screen and (max-width: 1024px) {
    .about-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about-me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about-content p {
        margin: 1rem 0 1.5rem;
    }

  
}

