nav {
    position: fixed;
    background: rgba(0, 0, 0, .3);
    padding: .7rem 1.7rem;
    display: flex;
    justify-content: center;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(1rem);
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

nav a {
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.2rem;
}

nav a:hover {
    background: rgba(0, 0, 0, .4);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-light);
}