nav {
    position: fixed;
    background: rgba(0, 0, 0, .3);
    padding: .9rem 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(1rem);
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content; 
    z-index: 2;
    cursor: grabbing;
}

nav a {
    background: transparent;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.2rem;
}

nav a:hover {
    background: rgba(0, 0, 0, .4);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-light);
}