.experience-container {
    display: grid;
    grid-template-columns: 1fr;
}

.experience-container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience-container > div:hover {
    background: transparent;
    cursor: pointer;
    border-color: var(--color-primary-variant);
}

.experience-container > div h3 {
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;
}

.details-icon {
    margin-top: 6px;
    color: var(--color-primary);
    font-size: 23px;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1024px) {
    .experience_content {
        grid-template-columns: 1fr 1fr;
    }

    .experience-container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content {
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .experience_content {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .experience-container > div {
        width: 100%;
        padding: 1rem 2rem;
    }
}

.prcent-div {
    width: 120px;
    height: 13px;
    border: 1px solid gray;
}

.prcent.js{
    background: var(--color-primary);
    height: 100%;
    width: 110px;
}

.prcent.ts{
    background: var(--color-primary);
    height: 100%;
    width: 100px;
}

.prcent.react{
    background: var(--color-primary);
    height: 100%;
    width: 85px;
}

.prcent.html{
    background: var(--color-primary);
    height: 100%;
    width: 110px;
}

.prcent.css{
    background: var(--color-primary);
    height: 100%;
    width: 100px;
}

.prcent.scss{
    background: var(--color-primary);
    height: 100%;
    width: 90px;
}

.prcent.tailwind{
    background: var(--color-primary);
    height: 100%;
    width: 70px;
}

.prcent.jquery{
    background: var(--color-primary);
    height: 100%;
    width: 50px;
}

.prcent.npm{
    background: var(--color-primary);
    height: 100%;
    width: 110px;
}

.prcent.bootstrap{
    background: var(--color-primary);
    height: 100%;
    width: 60px;
}

.prcent.api{
    background: var(--color-primary);
    height: 100%;
    width: 90px;
}